/*
 * Empty Stylesheet file.
 */

.page-header {
    -fx-pref-width: 708px;
    -fx-pref-height: 65px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    /*Draw the border on the bottom side only*/
    -fx-border-color: transparent transparent #e0e2e7 transparent;
}

.icon {
    -fx-icon-color: #e0e2e7;
    -fx-icon-size: 24px;
}

.page-header-text {
    
}
